<ion-view view-title="Seja bem vindo!" id="login-background">
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="email" ng-model="loginData.username" />
        </label>
        <label class="item item-input">
          <input type="password" placeholder="senha" ng-model="loginData.password" />
        </label>
        <label class="item">
          <button class="button button-block button-energized" type="submit">Entrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>