/* Empty. Add your own CSS if you like */
#login-background{
	background-image: url('../img/pontejk1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#menu{
	background-color: #003851;
	color: #FFFFFF;
	text-align: center;
}

#submenu{
	background-color: #003851; 
}