/* Empty. Add your own CSS if you like */

#menu{
	background-color: #003851;
	color: #FFFFFF;
	text-align: center;
}

/* login */

#login-background{
	background-image: url('../img/pontejk1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* welcome */

#welcome-background{
	background-image: url('../img/pontejk1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#welcome-icon{
	margin-top: 40%;
	display: block;
    margin-left:auto;
    margin-right:auto;
	width: 40%;
}

#welcome-sentence_1{
	font-size: 25pt;
	font-family: "helvetica neue";
	font-weight: bold;
	color: white;
	text-align: center;
	width: 100%;	
	
}

#welcome-sentence_2{
	font-size: 40pt;
	font-family: "helvetica neue";
	font-weight: bold;
	color: white;
	text-align: center;
	width: 100%;	
	
}




/*sponsors*/

#sponsors_background{
	background-color: #FDFDFD;
}

#sponsors_sabin{
	margin-top: 10%;
	display: block;
    margin-left:auto;
    margin-right:auto;
}

/* instituto sabin */

#sponsor_instituto_sabin{
    width: 100%;
    margin-bottom: 5%;
}

.sentence_instituto_sabin{
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	font-size: 11pt;
}


#last_sentence_instituto_sabin{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	text-align: justify;
	font-size: 11pt;
}

