/* Empty. Add your own CSS if you like */
#menu{
	background-color: #003851;
	color: #FFFFFF;
	text-align: center;
}

/* login */

#login-background{
	background-image: url('../img/pontejk1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* welcome */

#welcome-background{
	background-image: url('../img/pontejk1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#welcome-icon{
	margin-top: 40%;
	display: block;
    margin-left:auto;
    margin-right:auto;
	width: 40%;
}

#welcome-sentence_1{
	font-size: 25pt;
	font-family: "helvetica neue";
	font-weight: bold;
	color: white;
	text-align: center;
	width: 100%;	
	
}

#welcome-sentence_2{
	font-size: 40pt;
	font-family: "helvetica neue";
	font-weight: bold;
	color: white;
	text-align: center;
	width: 100%;	
	
}


